requests
python-dotenv
coverage
inquirerPy
fastapi
psycopg2-binary
pylint
pytest
python-dotenv
PyYAML
regex
requests
tabulate
uvicorn
logging
logging.config
dotenv
bcrypt
pydantic
pydantic[email]
typing
datetime
